services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    env_file:
      - .env
    networks:
      - imgmesser-network

networks:
  imgmesser-network:
    external: true
    name: imgmesser-network
